#expiry-date[type="date"] {
    appearance: none;
}

#expiry-date[type="date"]::-webkit-calendar-picker-indicator,
#expiry-time[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
}
