<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>link.sot | Password Protected</title>

    <link rel="icon" type="image/svg+xml" href="/assets/images/logo.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <style>
      :root {
        font-family: "Inter", sans-serif;

        --clr-primary-invert: #1F2937;
        --text-primary: #1F2937;
        --clr-primary: #F8FAFC;
        --text-primary: #1F2937;
        --clr-border: #CBD5E1;

      }

      .gradient-btn {
        background: linear-gradient(135deg, #7F00FF 0%, #E100FF 100%);
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
      }

      .input-box {
        display: flex;
        width: 100%;
        border-radius: 8px;
        padding-block: 8px;
        padding-inline: 1rem;
        background-color: var(--clr-primary);
        border: 1px solid var(--clr-border);
        color: var(--text-primary);
      }

    </style>
  </head>

  <body class="bg-white bg-opacity-50 min-h-screen flex items-center justify-center p-4">
    <div class="fixed inset-0 bg-white bg-opacity-50 flex items-center justify-center z-50 p-4">
      <div class="bg-white p-6 w-full max-w-md relative">
        <!-- Header -->
        <div class="flex flex-col items-center gap-3 mb-15">
          <div class="p-2 bg-blue-100 rounded-lg">
            <svg width="43" height="43" class="shrink-0" viewBox="0 0 24 24" fill="none" stroke="blue" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round">
              <path
                d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z">
              </path>
            </svg>
          </div>
          <div>
            <h3 class="text-2xl font-bold text-gray-900 text-center mb-2">This content is protected</h3>
            <p class="text-gray-400 text-base text-center">Enter password to access the content</p>
          </div>
        </div>
        <!-- Form -->
        <form class="space-y-4" method="POST" action="{{.Action}}">
          <div
            class="input-box focus-within:border-[var(--clr-primary-invert)] ring-1 ring-transparent focus-within:ring-1 focus-within:ring-[var(--clr-primary-invert)]">
            <input id="password" name="password" type="password" placeholder="Enter password" autocomplete="on" required
              value="{{.Password}}"
              class="w-full text-[var(--text-primary)] outline-0 border-0 bg-transparent w-full" />
            <span class="cursor-pointer self-center opacity-85 hover:opacity-100" id="toggle-password">
              <svg width="20" height="20" class="block" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828"></path>
                <path
                  d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87">
                </path>
                <path d="M3 3l18 18"></path>
              </svg>
            </span>
          </div>
          {{if .Error}}
          <p class="text-red-600 text-sm mt-1">{{.Error}}</p>
          {{end}}
          <div class="flex gap-3 pt-2">
            <button type="submit"
              class="w-full h-10 font-bold text-md gradient-btn outline-none transition py-2 px-4 rounded-xl focus focus:border-[#1F2937] ring-1 ring-transparent focus:ring-1 focus:ring-[#1F2937]">
              Access Link
            </button>
          </div>
        </form>
      </div>
    </div>

    <script>
      const svgEyeOn = `<svg width="20" height="20" class="block" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path></svg>`;
      const svgEyeOff = `<svg width="20" height="20" class="block" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10.585 10.587a2 2 0 0 0 2.829 2.828"></path><path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87"></path><path d="M3 3l18 18"></path></svg>`;
      const togglePassword = document.getElementById('toggle-password');
      const password = document.getElementById('password');
      togglePassword.addEventListener('click', () => {
        if (password.type === 'password') {
          password.type = 'text';
          togglePassword.innerHTML = svgEyeOff;
        } else {
          password.type = 'password';
          togglePassword.innerHTML = svgEyeOn;
        }
      });
    </script>
  </body>

</html>
