@import "tailwindcss";
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--clr-primary);
  color: var(--text-primary);

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-primary: #F8FAFC;
  --clr-secondary: #7F00FF;
  --clr-tertiary: #1B2A36;
  --text-primary: #1F2937;
  --text-secondary: #4a5568;
  --black-700: #3c3c3c;
  --black-800: #1c1c1c;
  --clr-primary-invert: #1F2937;
  /* --clr-border: #CBD5E1; */
  --clr-border: #D6E7F2;
  --ice-blue: #D6EAF3;
  --ice-silver: #EAF4F9;
   --empty-bg: #e8f0f8;
  /* --bg-secondary: #F3F6FA; */
  --bg-secondary: #F0F4F8;

  --loader-color: var(--clr-primary);
  --gradient-purple-blue: linear-gradient(135deg, #7F00FF 0%, #E100FF 100%);
  --gradient-cyan-teal: linear-gradient(135deg, #00C6FB 0%, #005BEA 100%);
  --gradient-green-emerald: linear-gradient(135deg, #38EF7D 0%, #11998E 100%);
  --gradient-orange-red: linear-gradient(135deg, #FF6A00 0%, #EE0979 100%);
  /* --gradient-red-pink: linear-gradient(135deg, #8B0000 0%, #D0004B 100%); */
  --gradient-red-crimson: linear-gradient(135deg, #FF4E50 0%, #F0002E 100%);
  --gradient-indigo-navy: linear-gradient(135deg, #4B0082 0%, #000080 100%);
  --gradient-space-black-blue: linear-gradient(135deg, #0D0F1C 0%, #0A1E40 100%);
}

/* Mobile devices */
@media screen and (max-width: 600px) {
  :root {
    font-size: 14px;
  }
}

/* Tablet */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

/* Laptop */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  :root {
    font-size: 16px;
  }
}

/* larger than Laptop */
@media screen and (min-width: 1441px) {
  :root {
    font-size: 18px;
  }
}


html, body {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  min-height: 100vh;
}

#root {
  height: 100%;
  min-height: 100dvh;
}


.txt-gradient {
  background: var(--gradient-purple-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-2 {
  color: var(--text-secondary);
}

.dynamic-txt-gradient {
  /* background: var(--gradient-purple-blue); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer {
  .btn {
    @apply py-2 px-4 rounded-xl;
    color: var(--text-primary);
  }
}

.gpb {
  background-image: var(--gradient-purple-blue);
}

.gct {
  background-image: var(--gradient-cyan-teal);
}

.gge {
  background-image: var(--gradient-green-emerald);
}

.gor {
  background-image: var(--gradient-orange-red);
}

.grc {
  background-image: var(--gradient-red-crimson);
}

.gin {
  background-image: var(--gradient-indigo-navy);
}

.gsbb {
  background-image: var(--gradient-space-black-blue);
}

.btn-animate {
  transition: all 0.3s ease;
}

.btn-animate.gpb:hover {
  /* shadow-[0_6px_20px_rgba(127, 0, 255, 0.3)] transition-all duration-[0.3s] ease hover: translate-y-[-2px] */
  box-shadow: 0 6px 20px rgba(127, 0, 255, 0.3);
  transform: translateY(-2px);
}

.btn-animate:hover:not(:disabled) {
  /* shadow-[0_6px_20px_rgba(127, 0, 255, 0.3)] transition-all duration-[0.3s] ease hover: translate-y-[-2px] */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}


.backdrop {
  background: #ffffffcc;
  backdrop-filter: blur(12px) saturate(1.8);
}

.hr {
  background-color: var(--clr-border);
  width: 100%;
  border-top: 1px solid var(--clr-border);
  margin-block: 32px;
}

.hr-down {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.hr-up {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.card-group {
  padding-inline: 20px;
  padding-block: 34px;
  background-color: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.card-group .card-item:not(:last-child) {
  @apply border-b border-gray-200;
  /* border-bottom: 1px solid var(--clr-border); */
  padding-bottom: 32px;
}

.card-group .card-item:not(:first-child) {
  padding-top: 32px;
}

/* Shimmer effect */
.shimmer {
  position: relative;
  overflow: hidden;
  background: #e8f0f8;
  border: 1px solid #D6EAF3;
}

.shimmer::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

.icon-glow {
  filter: drop-shadow(0 0 6px #fff);
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 6px #fff);
  }

  50% {
    filter: drop-shadow(0 0 12px #fff);
  }

  100% {
    filter: drop-shadow(0 0 6px #fff);
  }
}

.glow-shadow {
  background: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  filter: blur(10px);
  transform: translateY(6px);
  z-index: -1;
}

.border-silver {
  border: 1px solid var(--clr-border);
}

.polished-card {
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}