@import "tailwindcss";
@tailwind utilities;

.analytics__card-y {
    max-height: 425px;
    overflow-y: auto;
    /* padding-right: 16px; */

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--clr-border);
        border-radius: 8px;
    }
}

@layer {
    .analytics-layout {
        @apply grid grid-cols-1 lg:grid-cols-2 gap-6;
    }
}

.db-layout-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 24px;
    margin-bottom: 42px;
}